/* ========================== 

    TABLE CONTENT

 ==========================
 
    1.1 - GLOBAL
    1.2 - FONTS
    1.3 - LAYOUT
        1.3.1 - HEADER  
        1.3.2 - FOOTER
 */

 /* ========================== 
    1.1 - GLOBAL
 ==========================*/
 
 /* Aplicamos a todo el documento */
* {
  box-sizing: border-box; /* ajustamos todos los elementos  */ 
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif; /* tipo de fuente */
}

 /* ========================== 
    1.2 - FONTS
 ==========================*/

 /* Font Family (Poppins) */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

 /* ========================== 
    1.3.1 - HEADER  
 ==========================*/

 /* Estilo general del header */
 header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

/* Estilo para enlaces en el header */
header a {
    text-decoration: none;
    color: black;
}

/* Estilos para los iconos acount y cart */
.header__actions i {
    margin-left: 0.5rem;
}

/* Estilo para el menu lateral desplegable en mobile */
.header__nav {
    background-color: white;
    visibility: hidden;
    position: fixed;
    width: 75vw;
    height: 100vh;
    top: 0;
    left: -100px;
    transition: all 0.5s ease-in-out;
    padding: 0;
}

/* Estilo para abrir el menu lateral */
.active-nav-bar {
    visibility: visible;
    left: 0;
}

/* Estilo para el botón para cerrar el menu lateral */
.header__nav__btn-close {
    margin: 0.5rem;
    text-align: right;
}

/* Estilos para los items de la lista del menú lateral */
.header__nav nav ul li {
    list-style:  none;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.5rem;
    border-bottom: solid 1px rgb(129, 129, 129);
}

/* Estilo para el input de busqueda en el menú lateral */
.header__nav nav input {
    border: none;
    font-size: 1rem;
    outline: none;
}

