<!DOCTYPE html>
<html lang="es">
<head>
    <!-- incluimos el head sin el title-->
    <%- include('partials/head'); %> 
    <title>Home</title>
</head>
<body>
    <!-- incluimos el header -->
    <%- include('partials/navBar') %> 
    Esta es una prueba
</body>

</html>