<header>
    <!-- Icono para abrir el menú -->
    <div class="header__btn-nav" onclick="openNav()">
        <i class="bi bi-list"></i>
    </div>

    <!-- Logo o nombre de la tienda -->
    <div class="header__logo">
        <h3><a href="/">E - Commerce</a></h3>
    </div>

    <!-- Iconos de cuenta y carrito de compras-->
    <div class="header__actions">
        <i class="bi bi-person"></i>
        <i class="bi bi-bag"></i>
    </div>

    <!-- Menu lateral desplegable para mobile -->
    <div class="header__nav" id="nav-bar">
        <div class="header__nav__btn-close" onclick="closeNav()">
            <i class="bi bi-x-lg"></i>
        </div>
        <nav>
            <ul class="nav__menus">
                <li>
                    <form action="#" method="post">
                        <input name="buscar" placeholder="Buscar" />
                        <i class="bi bi-search"></i>
                    </form> 
                </li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </div>
    
    <!-- Enlazamos desde aqui para mayor comodidad -->
    <script src="/js/navBar.js"></script> 
</header>